@import "../../../style-variables.scss";

.task{
  cursor: pointer;
  .task--remove-button{
    font-size: 1.2rem;
    position: absolute;
    right: 5px;
    top: -5px;
  }
  .task--overdue{
    color: #bc574f;
  }
  .icon-edit{
    opacity: 0;
    font-size: 1.2rem;
    color: $gray-l;
    position: absolute;
    right: 32px;
    top: 10px;
    transition: 0.2s;
  }
}
.task:hover .icon-edit{
  opacity: 1;
}

.modal--details{
  cursor: default;
  .form-control{
    border: none;
  }
  .form-control:focus {
    border: $accent-l 1px solid;
    box-shadow: inset 0 1px 1px $accent-l, 0 0 8px $accent-l;
  }
  textarea{
    resize: none;
  }
  textarea:hover{
    resize: both;
  }
  .icon-edit{
    font-size: 1.2rem;
    opacity: 0;
    color: $gray-l;
    transition: 0.2s;
    cursor: pointer;
  }
  label:hover .icon-edit{
    opacity: 1;
  }
}
