<div (click)='showDetails(taskDetails)' class="p-3 task">
  <i class="material-icons icon-edit">edit</i>
  <button class="btn btn-text task--remove-button" (click)=onRemoveTask(task.id)>&times;</button>
  <div class="row pl-3">
    {{task.taskName}}
  </div>
  <div class="row" *ngIf="task.due" class="mt-2 {{isOverdue}}">
    <i class="material-icons align-middle">timer</i>
    {{task.due | date: 'MMM d HH:mm'}}
  </div>
</div>

<!-- Modal Window for Task Details -->
<ngx-smart-modal
  #taskDetails
  identifier="taskDetails"
  (onAnyCloseEventFinished)="onDetailsClosed()"
  class="modal--details">
  <h2 class="h5">Details</h2>
  <div *ngIf=task>
    <form ngNativeValidate [formGroup]="updateTaskForm" class="modal--details m-3 ml-4">
      <div class="form-group row">
        <label class="col-8">Task:
          <i class="material-icons icon-edit align-baseline m-1">edit</i>
          <input
          type="text"
          class="form-control"
          formControlName="nameInput"
          value={{task.taskName}}
          required>
        </label>
      </div>
      <div class="form-group row">
        <label class="col-8">Due:
          <i class="material-icons icon-edit align-baseline m-1">edit</i>
          <input class="form-control"
          formControlName="dueInput"
          [owlDateTime]="taskDetailsDue"
          [owlDateTimeTrigger]="taskDetailsDue"
          [min]="validDue">
          <owl-date-time [startAt]='task.due' #taskDetailsDue pickerMode='dialog'></owl-date-time>
        </label>
      </div>
      <div class="form-group row">
        <label class="col-10">Note:
          <i class="material-icons icon-edit align-baseline m-1">edit</i>
          <textarea
          type="text"
          class="form-control"
          formControlName="descriptionInput"
          >{{task.taskDescription}}</textarea>
        </label>
      </div>
      <button class="btn btn-pink col-5" type="button" (click)="onUpdate(taskDetails)">Update</button>
      <button class="btn btn-gray col-3" type="button" (click)="taskDetails.close()">Close</button>
    </form>
  </div>
</ngx-smart-modal>


